* {
    box-sizing: border-box;
}


.menu {
    display: flex;
    flex-direction: row; /*! задали головний напрямок осі */
    justify-content: space-between;
    list-style-type: none;

/*?    управляє позиціонуванням елементів на головній осі від main-start до main-end, тобто вирівнює flex-елементи по ширині flex-контейнера, розподіляючи вільний простір, що залишився, незайнятий flex-елементами: justify-content: flex-start | flex-end | center | space-between | space-around | space-evenly */

}




.box {
    width: 300px;
    height: 300px;
    background-color: goldenrod;
}

.boxes {
    list-style-type: none;
    display: flex;
    gap: 50px;
    flex-wrap: wrap; /*? flex-wrap управляє тим, як flex-контейнер буде розташовувати flex-елементи - в один ряд або в декілька та напрямком, в якому будуть розташовуватись нові рядки.*/
    justify-content: space-between;
    height: 1600px;
    align-content: space-between; /*? вирівнює лінії контейнера flex в flex-контейнері за наявності додаткового простору на перехресній осі, тобто управляє вирівнюванням всіх рядків багаторядкового контейнера вздовж поперечної осі, якщо є вільне місце. */
    
}

.box:nth-child(2n) {
    background-color: tomato;
}

.item {
    background-color: lightgreen;
    padding: 50px;
    text-align: center;
    border: 1px solid rgb(65, 197, 83);
}

.order-container {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    gap: 20px;
}

.item:nth-child(1) {
    order: 1;
}

ul {
    list-style: none;
    padding: 0;
}

.flex-grow {
    display: flex;
    gap: 30px;
}

/*.item {
    flex-grow: 0;
}
*/
.flex-grow .item:nth-child(2) {
    flex-grow: 52;
}

.shrink-item {
    width: 500px;
    height: 500px;
    background-color: silver;
    flex-shrink: 2;
}

.shrink-img {
    /*flex-shrink: 0; */
    
}

.flex-shrink {
    display: flex;
    width: 600px;
   /* width: 80%;
    max-width: 800px;
    border: 1px solid black;*/
}

.flex-shrink .item {
    flex-shrink: 1;
    flex-basis: 200px;
}
/*
.flex-shrink .item:last-child {
    flex-shrink: 0;
}
*/
.flex-basis {
    display: flex;
    
}

.flex-basis .item {
    background-color: aquamarine;
    flex-basis: 0;
    /*width: 150px;*/
    flex-grow: 1;
    flex-shrink: 0;
}

.align-self {
    display: flex;
    gap: 20px;
    height: 400px;
    align-items: flex-start;
}

.align-self .item:last-child {
    align-self: flex-end;
}

.container-squares {
    display: flex;
}

#one {
    flex: 2 1 300px;
    background-color: coral;
}

#two {
    flex: 1 2 300px;
    background-color: aquamarine;
}
/*
.card {
    border: 3px solid pink;
    padding: 10px;
    border-radius: 10px;
    background-color: mistyrose;
}

.cards {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
*/
.card {
    border: 3px solid pink;
    padding: 10px;
    border-radius: 10px;
    background-color: mistyrose;
}

.cards {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}