@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Poppins:wght@300;400;500;600&display=swap');


* {
    box-sizing: border-box; 
}

:root {
    --text: #1f1f1f;
}

body {
    font-family: "Poppins", sans-serif;
}

.container {
    width: 1170px;
    margin: auto;

}

.header {
    padding: 20px 0;

}

.hero {
    padding: 125px 0 195px;
} 

.header-item {
    font-weight: 500;
    font-size: 15px;
    color: var(--text);
}

.hero-title {
    font-weight: 700;
    font-size: 50px;
    color: var(--text);
}

.hero-subtitle {
    font-weight: 300;
    font-size: 26px;
    color: var(--text);
}

.hero-btn {
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    background-color: #ff8126;
}

.content-btn {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border-width: 1px;
    border-color: #bfbfbf;
    border-style: solid;
}

.header-link {
    color: var(--text);
    text-decoration: none;
}







































































